/* universal */
.hide-mobile {
  display: none;
}
.hide-desktop {
  display: block;
}
.title {
  font-size: 13vw;
  margin-top: 10vw;
}
.lg {
  font-size: 7vw;
}
.med {
  font-size: 3vw;
}
.med-sm {
  font-size: 2.5vw;
}
.sm {
  font-size: 1.75vw;
}
.lg-btn {
  width: 15vw;
  height: 15vw;
}
.med-btn {
  width: 13vw;
  height: 13vw;
}
.sm-btn {
  width: 10vw;
  height: 10vw;
}
.button {
  border-radius: 10vw;
}

/* Navbar */
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.navbar {
  display: flex;
  background: #333333;
  justify-content: space-around;
  padding: 5px 0px;
}
.navbar-icon {
  padding: 5px;
}
.navbar-icon-image {
  width: 30px;
}

/* Workout */
#info-container {
  position: absolute;
  top: 20px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#workout-title {
  font-size: 40pt;
  font-weight: bold;
  margin: 7px 0;
}
#upcoming {
  font-size: 25pt;
  margin: 7px 0;
}
#sets-completed {
  font-size: 15pt;
  margin: 5px 0;
}

/* Progress Bars */
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
div[role="progressbar"] {
  --size: 12rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  margin-top: 10px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}
div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: attr(data-center);
}
